.navbar {
  background-color: transparent;

  li {
    text-transform: uppercase;
    margin-left: 2.5rem;
    a {
      color: white;
      font-weight: 200;
      letter-spacing: 2px;
      font-size: 14px;
    }
  }
}