.btn-custom-white-bg {
  color: $brand-color-navy;
  background-color: $brand-color-grey-light;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.btn-custom-blue-bg {
  color: $brand-color-grey-light;
  background-color: $brand-color-navy;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}